header {
  padding: 1em;
  background: url(/img/red-wall.jpg);
  background-size: cover;
  h1 {
    color: #FFFFFF;
  }
  h2{
    color: #FFFFFF;
    font-size: 1em;
  }
  a {
    color: #FFFFFF;
  }
}
