header {
  padding: 1em;
  background: url(/img/red-wall.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  h1 {
    color: $headerFontColor;
  }
  h2{
    color: $headerFontColor;
    font-size: 1em;
  }
  a {
    color: $headerFontColor;
  }
}
