<h2>Upcoming Reservations</h2>

<p ng-cloak ng-show='resCtrl.message' ng-class='{ alert:true, "alert-warning":resCtrl.hasError, "alert-success":!resCtrl.hasError }'>
  {{resCtrl.message}}
</p>

<article ng-repeat='reservation in resCtrl.reservations'
         class='panel panel-default col-xs-12 col-s-6 col-md-6 col-lg-4'>

  <section class='panel-heading'>
    <h3 class='panel-title'>{{reservation.checkinDate}} - Room #{{reservation.room.number}}</h3>
  </section>

  <section class='panel-body'>
    <p class='col-xs-10'>
      <strong>Guest: </strong>{{reservation.guest.fullName}} ({{reservation.numberOfGuests}} people)
    </p>
    <button class='btn btn-danger col-xs-2' ng-click='resCtrl.deleteRes(reservation.id)'>
        Delete
    </button>
    <p class='col-xs-10'>
      <strong>Check out: </strong>{{reservation.checkoutDate}}
    </p>
  </section>

</article>
