<h2>Upcoming Reservations</h2>

<p ng-cloak ng-show='resCtrl.message' ng-class='{ alert:true, "alert-warning":resCtrl.hasError, "alert-success":!resCtrl.hasError }'>
  {{resCtrl.message}}
</p>

<article ng-repeat='reservation in resCtrl.reservations' class='panel panel-default'>
  <section class='panel-heading'>
    <h3 class='panel-title'>{{reservation.checkinDate}} - Room #{{reservation.roomId}}</h3>
  </section>

  <p class='panel-body'>

    Guest: GUEST NAME ({{reservation.numberOfGuests}} people)

    Check out: {{reservation.checkoutDate}}

    <button class='btn btn-danger col-xs-2' ng-click='resCtrl.deleteRes(reservation.id)'>
      Delete
    </button>
  </p>

</article>
